body,
h1,
h2,
h3,
h4,
h5,
h6,
.main-nav a,
.subscribe-button,
.post-meta,
.read-next-story .post:before,
.pagination,
.site-footer {
    font-family: "Lato", sans-serif;
}

p {
    font-family: "Merriweather", serif;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "caspar-icons", "Open Sans", sans-serif;
}